<% provide(:title, 'All users') %>
<h3>Users <small>(<%= @users.count %>)</small></h3>
<%= link_to "Add new user", 'users/new', class: "btn btn-small btn-default" %>
<%= will_paginate %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>
