<% provide(:title, 'Categories - showing all') %>
<h3>Categories <small><%= @categories.count %></small></h3>
<%= link_to "Add new category", 'categories/new', class: "btn btn-small btn-default" %>
<ul class="users">
  <% @categories.each do |categorie| %>
    <li>
      <div style="float: left;"><b><%= categorie.categoryname %></b>
      </div>
      <div style="float: right"><b><%= link_to "edit", edit_category_path(categorie) %> | <%= link_to "delete", categorie, method: :delete, data: { confirm: "You sure?" } %></b></div>
    </li>
  <% categorie.subcategories.each do |subcat| %>
    <li>
      <div style="padding-left:100px;float: left;"><%= subcat.subcategoryname %></div>
      <div style="float: right"><%= link_to "edit", edit_category_subcategory_path(categorie,subcat) %> | <%= link_to "delete", [categorie,subcat], method: :delete, data: { confirm: "You sure?" } %></div>
    </li>
  <% end %>

<div class="catnew">
 		<%= form_for([categorie, categorie.subcategories.build]) do |f| %>
    		<%= f.text_field :subcategoryname %>
		    <%= f.submit "Create new subcategory" %>
	  	<% end %>
</div>div>
    <br>
  <% end %>
</ul>
