<% provide(:title, 'Categories - Add new') %>
<h1>Categories</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_category_messages' %>
    <%= form_for(@category) do |f| %>

      <%= f.label :categoryname, 'Category Name' %>
      <%= f.text_field :categoryname %>
      <%= f.submit "Create category", class: "btn btn-large btn-default" %>
    <% end %>
  </div>
</div>
