<% provide(:title, @category.categoryname) %>
<h1><%= @category.categoryname %> <small> ID: <%= @category.id %>, <%= @category.subcategories.count %></small></h1>


<% @category.subcategories.each do |subcat|%>
<li>
  <%= link_to subcat.subcategoryname, category_subcategory_path(@category,subcat) %>

</li>
<% end %>

<%= form_for([@category, @category.subcategories.build]) do |f| %>
    <%= f.label :subcategoryname %><br />
    <%= f.text_field :subcategoryname %>
    <%= f.submit %>
<% end %>

